
body {
	font-size: 32px;
	font-family: 'Dosis';
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;

	background-color: rgb(37, 37, 37);
	color: rgb(226, 226, 226)
}

.timer {
	display: flex;
	flex-direction: column;
	border: 2px solid white;
    display: inline-flex;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.5em;
	text-transform: uppercase;
	align-items: center;
}

.timer.running [data-action="start"] {
	display: none;
}

.timer [data-action="stop"] {
	display: none;
}

.timer.running [data-action="stop"] {
	display: unset;
}

.timeline {
	border: 1px solid grey;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.5em;
	font-size: 16px;
	display: table;
	border-collapse: collapse;
	width: 100%;
    box-sizing: border-box;
	position: relative;
}

.line {
	display: table-row;
	border-bottom: 1px solid rgba(255, 255, 255, 0.264);
	padding: 0.2em;
}

.timeline .label {
	display: table-cell;
	width: 150px;
	padding: 0.3em;
	box-sizing: border-box;
}

.bars {
	display: table-cell;
	background-color: rgb(56, 56, 56);
	position: relative;
	padding: 1.3em;
}

.bar {
	background-color: rgb(226, 226, 226);
	border-radius: 0.2em;
	position: absolute;
	top: 0.5em;
	color: grey;
    white-space: nowrap;
	padding: 0.2em;
}

.bar.running {
	background-color: yellow;
}

.running {
	background-image: linear-gradient(135deg, #ffffff66 25%, #00000066 25%, #00000066 50%, #ffffff66 50%, #ffffff66 75%, #00000066 75%, #00000066 100%);
	background-size: 28.28px 28.28px;
}

.axis {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-left: 150px;
	box-sizing: border-box;
}

.marks {
	position: relative;
	height: 100%;
	width: 100%;
}

.mark {
	position: absolute;
	border-left: 1px solid rgba(255, 255, 255, 0.234);
	height: 100%;
}